.container{
    background-color: rgb(36, 36, 36);
    width: 100%;
    height: 200%;
    size: 100%;
}

h1{
    text-align: center;
    color: #fff;
}

img{
    width: 70%;
    border-radius: 50%;
    margin-left: 36rem;
    
}

h5{
    font-size: 1.5rem;
    margin-left: 38rem;
    color: #fff;
}


.adriana,
.psicanalista{
    font-size: 2rem;
    font-weight: 500;
}

.zap{
    font-size: 20px;
    text-decoration: none;
    background-color: rgb(44, 218, 0);
    padding: 0.50rem 7rem;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 32rem;
}

.zap:hover{
    background-color: rgb(15, 75, 0);
}

.email{
    font-size: 20px;
    text-decoration: none;
    background-color: rgb(66, 73, 73);
    padding: 0.60rem 8rem ;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 32rem;
}

.email:hover{
    background-color: rgb(25, 27, 27);
}

@media screen and (max-width: 1200px) {
    h1{
        margin-right: 20rem;
    }

    img{
        width: 80%;
        height: 100%;
        margin-right: 0.20rem;
        margin-left: 0;
        border-radius: 20px;
        margin-top: 1.5rem;

    }

    .zap {
        margin-left: 0;
        font-size: 2rem;
        padding: 0.50rem 5.5rem;

    }

    .email {
        margin-left: 0;
        font-size: 2rem;
        padding: 0.60rem 7rem;
    }
}

