.container{
    margin-left: 32rem;
    margin-top: 1.5rem;
}

.blog, 
.home,
.contato,
.psicanalista{
    text-decoration: none;
    font-size: 1.5rem;
    color: rgb(100, 98, 98);
}

@media screen and (max-width: 1100px) {
    .container {
        margin-top: 0.20rem;
        margin-left: 0;
    }

    .blog, 
    .home,
    .contato,
    .psicanalista {
        display: flex;
    }

}

