<div class="container">
    <div class="row mt-5 md-5">
        <div class="col-md-12">
            <h1 class="titulo">Método</h1>
        </div>
    </div>
    
    <div class="row mb-5">
        <div class="col-md-12">
            <p class="text-center">A psicanálise é um método de tratamento de transtornos mentais, moldado pela teoria psicanalítica. Fundada por Sigmund Freud (1856-1939), enfatiza processos mentais inconscientes e é algumas vezes descrita como a “psicologia profunda”</p>
        </div>
    </div>

    <div class="imagem"></div>
</div>

<div class="container">
    <div class="row mt-5 md-5">
        <div class="col-md-12">
            <h1 class="titulo">História</h1>
        </div>
    </div>
    
    <div class="row mb-5">
        <div class="col-md-12">
            <p class="text-center">A psicanálise começou com o médico neurologista e psiquiatra Sigmund Freud (1856-1939), e lida com a experiência subjetiva de maneiras que outras terapias às vezes não fazem. Apesar de ter sido formulada a mais de cem anos, ainda é usada para tratamento de transtornos como depressão, ansiedade e síndrome do pânico.
            </p>
        </div>
    </div>

    <div class="imagem2"></div>




    <div class="container">
        <div class="row mt-5 md-5">
            <div class="col-md-12">
                <h1 class="titulo">Teoria</h1>
            </div>
        </div>
        
        <div class="row mb-5">
            <div class="col-md-12">
                <p class="text-center">A teoria psicanalítica foi desenvolvida pelo neurologista austríaco Sigmund Freud (1856-1939) e está intimamente relacionada a sua prática psicoterapêutica. É uma teoria que procura descrever a etiologia dos transtornos mentais, o desenvolvimento do homem e de sua personalidade, além de explicar a motivação humana.
                </p>
            </div>
        </div>
    
        <div class="imagem3"></div>
    

    <div class="row mt-5 mb-5">
            <button class="button" routerLink='/contato'>Entre em Contato Conosco</button>
    </div>
</div>
