<div class="container">
    <div class="row mt-5 md-5">
        <div class="col-md-12">
            <h1>Muito prazer, sou a Psicanalista Adriana</h1>
        </div>
    </div>
    
    <div class="row mb-5">
        <div class="col-md-12">
            <p class="text-center">Um dos maiores objetivos da Psicanálise é criar um vínculo entre terapeuta e paciente, a fim de compreender os processos reprimidos pelo subconsciente, que geram sintomas como a angústia ou a ansiedade. Todo esse acompanhamento é realizado por meio da interpretação das ações e pensamentos do indivíduo.</p>
        </div>



    </div>


    <div class="parallax"></div>

    <div class="row mt-5 mb-5">
        <div class="col-md-12 d-flex justify-content-center">
            <button class="button" routerLink='/contato'>Entre em Contato Conosco</button>
        </div>
    </div>
</div>
